.tags {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

.tag {
  color: #df747f;
  padding: var(--space-sm) var(--space-md);
}
