.container {
  max-width: var(--size-max-width);
  margin: 0 auto;
  padding: var(--space-2xl) var(--size-gutter);
}

.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: var(--space-3xl);
}

.article-list li {
  padding: 15px;
  background-color: var(--white);
  font-family: Roboto;
}

.article-list .articlePreview {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 15px 20px 30px;
  text-align: center;
}

.description {
  text-align: justify;
  hyphens: auto;
  margin-top: 8px;
  color: var(--text-color-light);
}

.title {
  display: inline-block;
  font-size: var(--text-2xl);
  margin-bottom: var(--space-xs);
  margin-top: var(--space-md);
  border-bottom: 1.5px solid transparent;
}

.link {
  text-decoration: none;
}

.meta {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;

}

.readmore {
  display: flex;
  margin-top: 12px;
  text-align: center;
  justify-content: center;
  align-content: center;
  color: #df747f;
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: 1px;
}
