.container {
  max-width: var(--size-max-width);
  margin: 0 auto;
  padding: var(--space-2xl) var(--size-gutter);
}

.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: var(--space-3xl);
}

.article-list li {
  background-color: var(--white);
  box-shadow: 0 0 30px rgba(0,0,0,.05);
}


.article-list .articlePreview {
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.title {
  display: inline-block;
  font-size: var(--text-2xl);
  margin-bottom: var(--space-xs);
  margin-top: var(--space-lg);
  border-bottom: 1.5px solid transparent;
}

.link {
  text-decoration: none;
}

.meta {
  display: flex;
  justify-content: space-between;
  color: #777777;
}
