.header {
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  margin: 0 auto var(--size-gutter);
  max-width: var(--size-max-width);
  min-height: 130px;
  padding: var(--size-gutter) 0 0;
  position: relative;
  justify-content: center;
  align-content: center;
}

.image {
  max-height: 600px;
  height: 100%;
}

.details {
  padding: var(--size-gutter);
  background-color: var(--white);
  text-align: center;
}

.title {
  font-size: var(--text-title);
  font-weight: var(--bold);
  line-height: var(--dense);
  margin: 0 0 var(--space-xl);
}

.content {
  font-size: var(--text-md);
  margin: 0;
  color: #777;
}

@media (max-width: 767px) {
  .details {
    padding-top: var(--space-2xl);
    position: relative;
  }
  .image {
    width: 100vw !important
  }
}

@media (min-width: 768px) {
  .details {
    padding: var(--space-3xl) var(--size-gutter);
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .image {
    width: var(--size-max-width) !important;
  }
}

@media (min-width: 1024px) {
  .image {
    margin-left: auto;
    width: 85%;
  }
}


