.navbar {
  z-index: 9999;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;

  margin: 0;
  padding: var(--space-2xl) var(--space-3xl);
  background-color: var(--white);
}

img {
  width: 1.3em;
  height: 1.3em;
}

.social, .search, .navigation {
  display: flex;
  flex-direction: row;
  gap: var(--space-xl);
}

.navigationItem {
  letter-spacing: 1px;
  font-weight: bold;
}

.navigationItem a {
  color: currentColor;
  text-decoration: none;
}

.navigationItem a:hover {
  color: var(--primary);
}

@media (max-width: 767px) {
  .navbar {
    justify-content: center;
  }
  .social, .search {
    display:  none;
  }
}
