.header {
    display: flex;
    margin: 0 auto;
    max-width: var(--size-max-width);
    justify-content: center;
    align-content: center;
}

.title {
    font-size: var(--text-title);
    font-weight: var(--bold);
    line-height: var(--dense);
    font-family: SansSerif;
}
