.footer {
  padding: var(--space-2xl) 0;
  background-color: var(--white);
  width: 100%;
  height: 70px;
  margin-top: 300px;
}

.footerList {
  display: flex;
  list-style: none;
  margin: auto;
  gap: var(--space-xl);
  justify-content: center;
}

.footerItem a {
  border-bottom: 1.5px solid transparent;
  font-weight: var(--medium);
}

.footerItem a:hover {
  border-bottom-color: var(--primary);
  color: var(--primary);
}
