html {
  scroll-behavior: smooth;
}

html * {
  box-sizing: border-box;
}



body {
  background: rgba(236,246,243,1);
  background-image: radial-gradient(at 40% 20%, #f8f8f8 0, transparent 50%),
  radial-gradient(at 80% 0%, rgba(236,246,243,1) 0, transparent 50%),
  radial-gradient(at 0% 50%, #ecf6f3 0, transparent 50%),
  radial-gradient(at 80% 50%, #e8f5e9 0, transparent 50%),
  radial-gradient(at 0% 100%, #d6eed7 0, transparent 50%),
  radial-gradient(at 80% 100%, rgba(236,246,243,1) 0, transparent 50%),
  radial-gradient(at 0% 0%, #e8f5e9 0, transparent 50%);

  font-family: var(--font-sans);
  font-size: 14px;
  font-weight: var(--body);
  line-height: var(--default);
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
}

main {
  min-height: calc(100vh - 140px);
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--semibold);
  line-height: var(--dense);
}

a {
  color: currentColor;
  text-decoration: none;
}

a:hover {
  color: var(--highlight);
}

a.active {
  font-weight: var(--bold);
}

tt,
code,
kbd {
  background: var(--black-fade-5);
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}

tt,
code {
  background-color: var(--black-fade-5);
  border-radius: var(--radius-sm);
  font-weight: var(--medium);
  padding: 0.2em 0;
}

code:before,
code:after,
tt:before,
tt:after {
  content: ' ';
  letter-spacing: -0.2em;
}
