.hero {
  align-items: flex-start;
  display: flex;
  margin: 0 auto;
  max-width: var(--size-max-width);
  min-height: 130px;
  padding: var(--size-gutter) 0 0;
  position: relative;
}

.image {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  max-height: 600px;
  width: 25vw !important;
  height: 100% !;
}

.details {
  left: 0;
  width: 85%;
  padding: var(--size-gutter);
  position: absolute;
  background-color: var(--white);
  text-align: center;
}

.title {
  font-size: var(--text-title);
  font-weight: var(--bold);
  line-height: var(--dense);
  margin: 0 0 var(--space-xl);
}

.content {
  font-size: var(--text-md);
  margin: 0;
  color: #777;
}

@media (min-width: 480px) {
  .details {
    padding-top: var(--space-2xl);
  }
}

@media (min-width: 768px) {
  .hero {
    padding-top: var(--size-gutter);
  }

  .details {
    padding: var(--space-3xl) var(--size-gutter);
  }
}

@media (min-width: 1024px) {
  .image {
    margin-left: auto;
    width: 85%;
  }

  .details {
    left: var(--size-gutter);
  }
}
