:root {
  /* primitives */
  /* font-family */
  --font-sans: "Franklin ITC", sans-serif;
  --font-serif: Georgia, Times, Times New Roman, serif;

  /* radii */
  --radius-sm: 4px;

  /* spacing */
  --space-sm: 4px;
  --space-md: 8px;
  --space-lg: 16px;
  --space-xl: 20px;
  --space-2xl: 24px;
  --space-3xl: 48px;

  /* line-height */
  --solid: 1;
  --dense: 1.25;
  --default: 1.5;
  --loose: 1.75;

  /* font-weight */
  --body: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;
  --heavy: 900;

  /* font-size */
  --text-xs: 12px;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 32px;
  --text-4xl: 40px;
  --text-5xl: 64px;
  --text-6xl: 76px;

  /* tokens */
  /* colors */
  --primary: #d6eed7;
  --secondary: #a1c7ba;
  --light: #f8f8f8;
  --highlight: #ea525f;
  --highlight-dark: #ea525f;
  --background: #ecf6f3;
  --text-color: #333;
  --text-color-light: #777;
  --white: #fff;
  --black: #000;
  --black-fade-5: rgba(234, 82, 95, 0.5);

  --border: var(--black-fade-5);


       /**
  #b6d8c0
  #6faf9f
  #d6eed7

  #81b5a9

  #f77d5c
  #fcd7a2
  #f5ab87
  **/
     
  /* text */
  /* color */
  /* size */
  --text-lead: var(--text-lg);
  --text-prose: var(--text-md);
  --text-title: var(--text-4xl);
  /* tracking */
  --text-prose-tracking: -0.011em;

  /* size */
  --size-gutter: var(--space-2xl);
  --size-logo: var(--space-2xl);
  --size-max-width: 80rem;
}

@media (min-width: 480px) {
  :root {
    --size-gutter: var(--space-2xl);
  }
}

@media (min-width: 768px) {
  :root {
    --text-lead: var(--text-2xl);
    --text-title: var(--text-4xl);
    --text-prose-tracking: -0.014em;
    --text-prose: var(--text-lg);
  }
}
