.newsletter {
  display: flex;
  align-items: center;
  gap: var(--space-xl);
  justify-content: center;
  height: 140px;
  margin-top: calc(var(--space-xl)*2);
  
  background-color: #a1c7ba;
  font-size: 38px;
  font-family: SansSerif;
}

.footer {
  display: flex;
  align-items: center;
  gap: var(--space-xl);
  justify-content: center;
  height: 80px;

  margin: 0;
  padding: var(--space-2xl) var(--space-3xl);
  background-color: #81b5a9;
  color: #d6eed7;
  letter-spacing: 1px;
  font-weight: bold;
}

.footerItem a {
  border-bottom: 1.5px solid transparent;
  font-weight: var(--medium);
}

